{
      "ams-site" : {
          "timeline.metrics.service.operation.mode" : "distributed",
          "timeline.metrics.aggregator.checkpoint.dir" : "{{ ams_base_dir }}/ambari-metrics-collector/checkpoint",
          "phoenix.spool.directory" : "{{ ams_base_dir }}/ambari-metrics-collector/hbase-tmp/phoenix-spool"
      },
      "ams-env" : {
        "metrics_collector_log_dir" : "{{ base_log_dir }}/ambari-metrics-collector",
        "metrics_monitor_log_dir" : "{{ base_log_dir }}/ambari-metrics-monitor"
      },
      "ams-hbase-site" : {
          "hbase.cluster.distributed": "true",
          "hbase.rootdir" : "hdfs://{% if namenode_hosts | length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts |sort|list|first }}:8020{% endif %}/ambari-metrics-collector/hbase",
          "hbase.tmp.dir" : "{{ ams_base_dir }}/ambari-metrics-collector/hbase-tmp"
      },
      "ams-hbase-env" : {
        "hbase_log_dir" : "{{ base_log_dir }}/ambari-metrics-collector"
      },
      "ams-grafana-env" : {
        "metrics_grafana_log_dir" : "{{ base_log_dir }}/ambari-metrics-grafana",
        "metrics_grafana_data_dir" : "{{ ams_base_dir }}/ambari-metrics-grafana"
      }
}