{
    "hive-site" : {
        "hive.server2.webui.port": "10003",
        {% if database != "embedded" -%}
        {% if database == "mysql" or database == "mariadb" -%}
        "javax.jdo.option.ConnectionDriverName": "com.mysql.jdbc.Driver",
        "javax.jdo.option.ConnectionURL": "jdbc:mysql://{{ database_hostname }}:{{ mysql_port }}/{{ database_options.hive_db_name }}",
        {% endif -%}
        {% if database == "postgres" -%}
        "javax.jdo.option.ConnectionDriverName": "org.postgresql.Driver",
        "javax.jdo.option.ConnectionURL": "jdbc:postgresql://{{ database_hostname }}:{{ postgres_port }}/{{ database_options.hive_db_name }}",
        {% endif -%}
        "ambari.hive.db.schema.name": "{{ database_options.hive_db_name }}",
        "javax.jdo.option.ConnectionUserName": "{{ database_options.hive_db_username }}",
        "javax.jdo.option.ConnectionPassword": "{{ database_options.hive_db_password }}",
        {% endif -%}
        "hive.server2.enable.doAs": "false",
        "hive.security.authorization.enabled" : "true",
        "hive.server2.logging.operation.log.location" : "{{ base_tmp_dir }}/hive/operation_logs",
        "hive.tez.container.size": "512",
        "hive.heapsize": "512"
    },
    "hiveserver2-site" : {
        "hive.security.authorization.enabled" : "true",
        "hive.security.authorization.manager" : "org.apache.ranger.authorization.hive.authorizer.RangerHiveAuthorizerFactory",
        "hive.conf.restricted.list" : "hive.security.authenticator.manager,hive.security.authorization.manager,hive.security.metastore.authorization.manager,hive.security.metastore.authenticator.manager,hive.users.in.admin.role,hive.server2.xsrf.filter.enabled,hive.security.authorization.enabled",
        "hive.metastore.metrics.enabled" : "true"
    },
    "hive-env" : {
            {% if database != "embedded" -%}
            {% if database == "mysql" or database == "mariadb" -%}
            "hive_database": "Existing MySQL / MariaDB Database",
            "hive_database_type": "mysql",
            {% endif -%}
            {% if database == "postgres" -%}
            "hive_database": "Existing PostgreSQL Database",
            "hive_database_type": "postgres",
            {% endif -%}
            "hive_database_name": "{{ database_options.hive_db_name }}",
            {% endif -%}
            {% if rangeradmin_hosts|length > 0 and ranger_options.enable_plugins|default(no) %}
            "hive_security_authorization" : "Ranger",
            {% endif %}
            {% if 'ATLAS_SERVER' in blueprint_all_services %}
            "hive.atlas.hook": "true",
            {% endif %}
            "hive_user" : "hive",
            "hive_log_dir" : "{{ base_log_dir }}/hive",
            "hcat_log_dir" : "{{ base_log_dir }}/webhcat",
            "heap_dump_location" : "{{ heap_dump_location }}",
            "hive.metastore.heapsize": "{{hive_heapsize}}",
            "hive.heapsize": "{{hive_heapsize}}"
    }
}