{
   "infra-solr-client-log4j" : {
      "infra_solr_client_log_dir" : "{{ base_log_dir }}/ambari-infra-solr-client"
   },
   "infra-solr-env" : {
      "infra_solr_datadir" : "{{ infra_solr_datadir }}",
      "infra_solr_log_dir" : "{{ base_log_dir }}/ambari-infra-solr",
      "infra_solr_maxmem": "{{infra_solr_memory}}"
   }
}