{
    "kafka-broker": {
        {% if rangeradmin_hosts|length > 0 and ranger_options.enable_plugins|default(no) %}
          "authorizer.class.name" : "org.apache.ranger.authorization.kafka.authorizer.RangerKafkaAuthorizer",
        {% endif %}
        "log.dirs" : "{{ kafka_log_base_dir }}",
        "zookeeper.session.timeout.ms" : "30000"
    }
}