{
    "admin-properties" : {
        "properties" : {
            "DB_FLAVOR" : "{{ database|replace('mariadb', 'mysql')|upper }}",
             "db_host" : "{{ database_hostname }}",
             "db_name" : "{{ database_options.rangeradmin_db_name }}",
             "db_user" : "{{ database_options.rangeradmin_db_username }}",
             "db_password" : "{{ database_options.rangeradmin_db_password }}",
             "policymgr_external_url" : "http://{{ rangeradmin_hosts[0] }}:6080"
        }
    },
    "ranger-admin-site" : {
            "ranger.externalurl" : "http://{{ rangeradmin_hosts[0] }}:6080",
            "ranger.logs.base.dir" : "{{ base_log_dir }}/ranger/admin",
            {% if database == "mysql" or database == "mariadb" -%}
            "ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
            "ranger.jpa.jdbc.url": "jdbc:mysql://{{ database_hostname }}:{{ mysql_port }}/{{ database_options.rangeradmin_db_name }}",
            {% endif -%}
            {% if database == "postgres" -%}
            "ranger.jpa.jdbc.driver": "org.postgresql.Driver",
            "ranger.jpa.jdbc.url": "jdbc:postgresql://{{ database_hostname }}:{{ postgres_port }}/{{ database_options.rangeradmin_db_name }}",
            {% endif -%}
            "ranger.audit.source.type" : "solr",
            "ranger.audit.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr"
    },
    {% if ranger_options.enable_plugins|default(yes) %}
    {% if namenode_hosts |length > 0 %}
        "ranger-hdfs-plugin-properties" : {
          "ranger-hdfs-plugin-enabled" : "Yes",
          "REPOSITORY_CONFIG_USERNAME" : "hdfs"
        },
        "ranger-hdfs-security" : {
          "ranger.plugin.hdfs.policy.rest.url" : "http://{{ rangeradmin_hosts|sort|list|first }}:6080",
          "ranger.plugin.hdfs.policy.pollIntervalMs" : "30000"
        },
        "ranger-hdfs-audit" : {
          "xasecure.audit.destination.db" : "false",
          "xasecure.audit.destination.hdfs" : "true",
          "xasecure.audit.destination.hdfs.dir" : "hdfs://{% if namenode_hosts |length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts |sort|list|first }}:8020{% endif %}/ranger/audit",
          "xasecure.audit.destination.hdfs.batch.filespool.dir" : "{{ ranger_audit_hdfs_filespool_base_dir }}/hadoop/hdfs/audit/hdfs/spool",
          "xasecure.audit.destination.solr" : "true",
          "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
          "xasecure.audit.destination.solr.batch.filespool.dir" : "{{ ranger_audit_solr_filespool_base_dir }}/hadoop/hdfs/audit/solr/spool"
        },
        "ranger-hive-plugin-properties" : {
          "ranger-hive-plugin-enabled" : "Yes"
        },
        "ranger-hive-security" : {
          "ranger.plugin.hive.policy.rest.url" : "http://{{ rangeradmin_hosts|sort|list|first }}:6080",
          "ranger.plugin.hive.policy.pollIntervalMs" : "30000"
        },
        "ranger-hive-audit" : {
          "xasecure.audit.destination.db" : "false",
          "xasecure.audit.destination.hdfs" : "true",
          "xasecure.audit.destination.hdfs.dir" : "hdfs://{% if namenode_hosts |length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts|sort|list|first }}:8020{% endif %}/ranger/audit",
          "xasecure.audit.destination.hdfs.batch.filespool.dir" : "{{ ranger_audit_hdfs_filespool_base_dir }}/hive/audit/hdfs/spool",
          "xasecure.audit.destination.solr" : "true",
          "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
          "xasecure.audit.destination.solr.batch.filespool.dir" : "{{ ranger_audit_solr_filespool_base_dir }}/hive/audit/solr/spool"
        },
        "ranger-yarn-plugin-properties" : {
          "ranger-yarn-plugin-enabled" : "Yes"
        },
        "ranger-yarn-security" : {
          "ranger.plugin.yarn.policy.rest.url" : "http://{{ rangeradmin_hosts|sort|list|first }}:6080",
          "ranger.plugin.yarn.policy.pollIntervalMs" : "30000"
        },
        "ranger-yarn-audit" : {
          "xasecure.audit.destination.db" : "false",
          "xasecure.audit.destination.hdfs" : "true",
          "xasecure.audit.destination.hdfs.dir" : "hdfs://{% if namenode_hosts |length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts|sort|list|first }}:8020{% endif %}/ranger/audit",
          "xasecure.audit.destination.hdfs.batch.filespool.dir" : "{{ ranger_audit_hdfs_filespool_base_dir }}/hadoop/yarn/audit/hdfs/spool",
          "xasecure.audit.destination.solr" : "true",
          "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
          "xasecure.audit.destination.solr.batch.filespool.dir" : "{{ ranger_audit_solr_filespool_base_dir }}/hadoop/yarn/audit/solr/spool"
        },
        "ranger-hbase-plugin-properties" : {
          "ranger-hbase-plugin-enabled" : "Yes"
        },
        "ranger-hbase-security" : {
          "ranger.plugin.hbase.policy.rest.url" : "http://{{ rangeradmin_hosts|sort|list|first }}:6080",
          "ranger.plugin.hbase.policy.pollIntervalMs" : "30000"
        },
        "ranger-hbase-audit" : {
          "xasecure.audit.destination.db" : "false",
          "xasecure.audit.destination.hdfs" : "true",
          "xasecure.audit.destination.hdfs.dir" : "hdfs://{% if namenode_hosts |length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts|sort|list|first }}:8020{% endif %}/ranger/audit",
          "xasecure.audit.destination.hdfs.batch.filespool.dir" : "{{ ranger_audit_hdfs_filespool_base_dir }}/hbase/audit/hdfs/spool",
          "xasecure.audit.destination.solr" : "true",
          "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
          "xasecure.audit.destination.solr.batch.filespool.dir" : "{{ ranger_audit_solr_filespool_base_dir }}/hbase/audit/solr/spool"
        },
        {% endif %}

        "ranger-kafka-plugin-properties" : {
          "ranger-kafka-plugin-enabled" : "Yes"
        },
        "ranger-kafka-security" : {
          "ranger.plugin.kafka.policy.rest.url" : "http://{{ rangeradmin_hosts|sort|list|first }}:6080",
          "ranger.plugin.kafka.policy.pollIntervalMs" : "30000"
        },
        "ranger-kafka-audit" : {
          "xasecure.audit.destination.db" : "false",
          {% if namenode_hosts |length > 0 %}
          "xasecure.audit.destination.hdfs" : "true",
          "xasecure.audit.destination.hdfs.dir" : "hdfs://{% if namenode_hosts |length > 1 %}{{ hdfs_ha_name }}{% else %}{{ namenode_hosts|sort|list|first }}:8020{% endif %}/ranger/audit",
          "xasecure.audit.destination.hdfs.batch.filespool.dir" : "{{ ranger_audit_hdfs_filespool_base_dir }}/kafka/audit/hdfs/spool",
          {% else %}
          "xasecure.audit.destination.hdfs" : "false",
          {% endif %}
          "xasecure.audit.destination.solr" : "true",
          "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
          "xasecure.audit.destination.solr.batch.filespool.dir" : "{{ ranger_audit_solr_filespool_base_dir }}/kafka/audit/solr/spool"
        },
      {% endif %}

    "ranger-env" : {
        "ranger_admin_log_dir" : "{{ base_log_dir }}/ranger/admin",
        "ranger_usersync_log_dir" : "{{ base_log_dir }}/ranger/usersync",
        {% if ranger_options.enable_plugins|default(no) %}
        {% if namenode_hosts |length > 0 %}
        "ranger-hdfs-plugin-enabled" : "Yes",
        "ranger-hive-plugin-enabled" : "Yes",
        "ranger-yarn-plugin-enabled" : "Yes",
        "ranger-hbase-plugin-enabled" : "Yes",
        {% endif %}
        "ranger-kafka-plugin-enabled" : "Yes",
        {% endif %}
        "admin_username" : "admin",
        "admin_password" : "{{ ranger_security_options.ranger_admin_password }}",
        "ranger_admin_username" : "amb_ranger_admin",
        "ranger_admin_password" : "{{ ranger_security_options.ranger_admin_password }}",
        {% if stack_major_version|int >= 3 -%}
        "rangerusersync_user_password" : "{{ ranger_security_options.ranger_admin_password }}",
        "rangertagsync_user_password" : "{{ ranger_security_options.ranger_admin_password }}",
        "keyadmin_user_password" : "{{ ranger_security_options.ranger_keyadmin_password }}",
        {% endif %}
        "xasecure.audit.destination.db" : "false",
        {% if namenode_hosts |length > 0 %}
        "xasecure.audit.destination.hdfs" : "true",
        {% else %}
        "xasecure.audit.destination.hdfs" : "false",
        {% endif %}
        "xasecure.audit.destination.solr" : "true",
        "is_solrCloud_enabled": "true",
        "create_db_dbuser": "false"
    },
    "ranger-ugsync-site" : {
        "ranger.usersync.logdir" : "{{ base_log_dir }}/ranger/usersync",
        "ranger.usersync.enabled" : "true"
    },
    "ranger-tagsync-site" : {
        "ranger.tagsync.logdir" : "{{ base_log_dir }}/ranger/tagsync"
    }
}